:root {
    --bg-cream: rgba(250, 243, 224);
    --spring-green: #A7C957;
    --mossy-green: #6A994E;
    --soft-brown: #5C4033;
    --dark-green: #06402B;
    --wheat-gold: #F2C57C;
    --wheat-gold-rgba: rgba(242, 197, 124, 0.3);
    --muted-grey: #C6B8A6;
    --sidebar-hover-brown: rgba(242, 197, 124, 0.25);

    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    height: 100vh;
    margin: 0px;
    display: flex;
}

h1, h2, h3, h4, p, div {
    padding: 0px;
    margin: 0px;
}

/* SIDEBAR STYLING */
#sidebar {
    flex: 0 1 175px;
    background: linear-gradient(180deg, var(--mossy-green), var(--spring-green));
    box-shadow: 2px 0 6px rgba(0,0,0,0.15);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1px repeat(4, 30px) 1fr;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.sidebar-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-row > button {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    width: 140px;
    height: 25px;
    background: transparent;
    outline: none;
    border: none;
    color: var(--bg-cream);
    font-size: 20px;
    font-weight: 700;
}

.sidebar-row > button:hover {
    background-color: var(--sidebar-hover-brown);
    transform: translate(0px, -1px);
}

.sidebar-row > button > svg {
    fill: var(--bg-cream);
}

#display-content {
    flex: 1 1 auto;
    background-color: var(--bg-cream);
}




/* FORM STYLING */

.todo-form {
    --section-text-clr: var(--dark-green);
    --input-text-clr: var(--mossy-green);


    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--mossy-green);
    border: 3px solid var(--dark-green);
    border-radius: 10px;
}

.todo-form::backdrop {
    backdrop-filter: blur(3px);
    opacity: 0.55;
}

.add-todo-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-top {
    display: grid;
    grid-template-columns: 1fr 10px;
    grid-template-rows: 1fr;
    flex: 1 1 auto;
    justify-content: end;
    align-items: center;
}

.form-top > h2 {
    color: var(--section-text-clr);
    font-size: 30px;
    text-align: center;
}

.form-top > button {
    background: none;
    outline: none;
    border: none;
    padding: 0px;
    cursor: pointer;
}

.form-top svg {
    fill: var(--bg-cream);
}

.form-input-field {
    flex: 1 1 auto;
    display: flex;
    gap: 10px;
}

.form-input-field > input {
    flex: 1 1 auto;
    background-color: var(--bg-cream);
    border-radius: 5px;
    outline: none;
    border: 1px solid grey;
}

.form-input-field > textarea {
    flex: 1 1 auto;
    background-color: var(--bg-cream);
    border-radius: 5px;
    outline: none;
    border: 1px solid grey;
}

#title-input {
    width: 450px;
    height: 25px;
    overflow: hidden;
}

#form-footer {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr;
}

#form-footer > .actions {
    display: flex;
    gap: 20px;
}

.submit-btn {
    display: flex;
    align-items: center;
    justify-content: end;
}

.submit-btn > button {
    padding: 5px;
    background-color: var(--bg-cream);
    outline: none;
    border: 2px solid var(--dark-green);
    border-radius: 10px;
    color: var(--dark-green);
    font-weight: 700;
    cursor: pointer;
}

#mark-imp-checkbox {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

/* End of form styling */

/* SIDEBAR STYLING */