:root {
    --bg-cream: #FAF3E0;
    --spring-green: #A7C957;
    --mossy-green: #6A994E;
    --soft-brown: #5C4033;
    --light-brown: #927264;
    --dark-green: #06402B;
    --wheat-gold: #F2C57C;
    --wheat-gold-rgba: rgba(242, 197, 124, 0.3);
    --muted-grey: #C6B8A6;
    --sidebar-hover-brown: rgba(244, 208, 149, 0.25);
    --yellow-brown: #ac6e0b;

    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    height: 100vh;
    margin: 0px;
    display: flex;
}

h1, h2, h3, h4, p, div {
    padding: 0px;
    margin: 0px;
}

/* SIDEBAR STYLING */
#sidebar {
    flex: 0 1 300px;
    background: linear-gradient(180deg, var(--mossy-green), var(--spring-green));
    box-shadow: 2px 0 6px rgba(0,0,0,0.15);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px repeat(4, 30px) 1fr;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#profile-section {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 10px;
    padding-top: 20px;
}

#profile-section > button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--wheat-gold);
    background: none;
    border: none;
    gap: 20px;
    cursor: pointer;
    font-size: 18px;
}

#profile-section > button > img {
    border-radius: 50%;
    border: 2px solid var(--wheat-gold);
}

.sidebar-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-row > button {
    display: flex;
    gap: 20px;
    justify-content: left;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    width: 270px;
    padding: 5px;
    background: transparent;
    outline: none;
    border: none;
    color: var(--bg-cream);
    font-size: 12px;
    font-weight: 700;
}

.sidebar-row > button:hover {
    background-color: var(--sidebar-hover-brown);
    transform: translate(0px, -1px);
}

.sidebar-row > button > svg {
    fill: var(--bg-cream);
}

#display-content {
    flex: 1 1 auto;
    background-color: var(--bg-cream);
}

/* END OF SIDEBAR STYLING */


/* MAIN CONTENT STYLING */

#display-content {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    gap: 25px;
}

#content-header {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 22px;
    color: var(--dark-green);
}

.content-section-hdr {
    color: var(--mossy-green);
}

#content-section {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.divider {
    flex: 0 0 auto;
    border-top: 1px solid var(--muted-grey);
}

.task-item {
    display: flex;
    padding: 10px;
    padding-right: 40px;
}

.task-item .task-content-wrapper {
    flex: 1 1 auto;
    display: flex;
    gap: 10px;
}

.task-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 3px;
    color: var(--soft-brown);
    font-size: 18px;
}

.task-content > div {
    display: flex;
    gap: 40px;
}

.task-content h4 {
    flex: 1;
    font-weight: 500;
}

.task-content p {
    font-size: 12px;
    font-weight: 300;
    color: var(--light-brown);
}

.task-content > p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  /* ensures “…” truncation */
    max-width: 300px;     /* adjust for your layout */
}

.date-display {
    flex: 0 0 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.date-display > p {
    color: var(--mossy-green);
    font-size: 14px;
}

.date-display > svg {
    fill: var(--mossy-green);
}

.task-item button {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0px;
}

.task-actions {
    flex: 0 0 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}


.action-btn {
    fill: var(--soft-brown);
}

.action-btn:hover {
    filter: drop-shadow(0 0 3px var(--yellow-brown));
}

.action-btn > svg {
    width: 20px;
    height: 20px;
}

.check-box {
    width: 20px;
    height: 20px;
}




/* FORM STYLING */

.todo-form {
    --section-text-clr: var(--dark-green);
    --input-text-clr: var(--mossy-green);

    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--mossy-green);
    border: 3px solid var(--dark-green);
    border-radius: 10px;
}

.todo-form::backdrop {
    backdrop-filter: blur(3px);
    opacity: 0.55;
}

.add-todo-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-top {
    display: grid;
    grid-template-columns: 1fr 10px;
    grid-template-rows: 1fr;
    flex: 1 1 auto;
    justify-content: end;
    align-items: center;
}

.form-top > h2 {
    color: var(--section-text-clr);
    font-size: 30px;
    text-align: center;
}

.form-top > button {
    background: none;
    outline: none;
    border: none;
    padding: 0px;
    cursor: pointer;
}

.form-top svg {
    fill: var(--bg-cream);
}

.form-input-field {
    flex: 1 1 auto;
    display: flex;
    gap: 10px;
}

.form-input-field > input {
    flex: 1 1 auto;
    background-color: var(--bg-cream);
    border-radius: 5px;
    outline: none;
    border: 1px solid grey;
}

.form-input-field > textarea {
    flex: 1 1 auto;
    background-color: var(--bg-cream);
    border-radius: 5px;
    outline: none;
    border: 1px solid grey;
}

#title-input {
    width: 450px;
    height: 25px;
    overflow: hidden;
    font-family: monospace;
}

#form-footer {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr;
}

#form-footer > .actions {
    display: flex;
    gap: 20px;
}

.submit-btn {
    display: flex;
    align-items: center;
    justify-content: end;
}

.submit-btn > button {
    padding: 5px;
    background-color: var(--bg-cream);
    outline: none;
    border: 2px solid var(--dark-green);
    border-radius: 10px;
    color: var(--dark-green);
    font-weight: 700;
    cursor: pointer;
}

#mark-imp-checkbox {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

/* End of form styling */

/* SIDEBAR STYLING */